.container .nav-link{
    background-color: rgb(157, 71, 238);
    border: 1px solid black;
    border-radius: 10px;
    color: #fff;
    margin: 10px 0;
    text-align: center;
}
.container .nav-link:hover{
    cursor: pointer;
    background-color: rgb(228, 153, 15);
}